small {
    font-size: 0.9rem;
}

p, span {
    font-size: 1rem;
}

h6 {
    font-weight: bold;
    font-size: 1.1rem;
}

h5 {
    font-weight: bold;
    font-size: 1.2rem;
}

h4 {
    font-weight: bold;
    font-size: 1.3rem;
}

h3 {
    font-weight: bold;
    font-size: 1.4rem;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

h1 {
    font-weight: bold;
    font-size: 1.6rem;
}

a {
    color: $secondary-text-color;
    transition: filter 0.5s;

    &:hover {
        filter: brightness(1.5);
        text-decoration: underline;
    }
}